* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font: sans-serif;
    background-color:#f4f4f3;
  }
.dark-mode {
  background-color: rgb(20, 20, 20);
  color: white;
}
.dark-mode .nomeri-1 {
  font-size: 30px;
  letter-spacing: 1.5px;
  margin-bottom: 10px;
  color: #ffffff;
}
.dark-mode .flex-mail p {
  font-size: 20px;
  color: rgb(255, 255, 255);
}
.dark-mode .maindi {
  background-color: #222;
}
.dark-mode h1 {
  color: #fff;
}
.dark-mode .flex-1 {
  background-color: #182763;
}
.dark-mode .block p {
  font-size: 22px;
  color: rgb(255, 255, 255);
}
.dark-mode .bmulebi {
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #ffffff;
}

.dark-mode .headerspan {
  color: #fff;
}
.dark-mode .dropdown-menu ul {
  background-color: #222;
}

.dark-mode .ultag li a {
  color: #fff;
}

.dark-mode .menu-bar {
  background-color: #222;
  color: #fff;
}
.dark-mode .menu-bar .ultag .dropdown-menu {
  background-color: #222;
  color: #fff;
}
.dark-mode .menu-bar .ultag .dropdown-menu-1 {
  background-color: #222;
  color: #fff;
}

.dark-mode .menu-bar .ultag .dropdown-menu ul li  .dropdown-menu-2 {
  background-color: #222;
  color: #fff;
}
.dark-mode .flex-footer {
  background-color: #222;
}

.dark-mode .contact {
  color: #fff;
}

.dark-mode .name22 {
  color: #fff;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #000000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

  
  .maindi {
      display: flex;
      width: 100%;
      background-color: rgb(15, 49, 90);
      align-items: center;
      gap: 20px;
      font-family: "BPG Mrgvlovani Caps", sans-serif;   
  }
  .notmaindi {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
  }
  .headerlogo {
    width: 90px;
    height: 90px;
    border-radius: 50px;
    margin-left: 90px;
  }
  .n79 {
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font: bold;
  }
  .headerspan {
    font-size: 24px;
    color: rgb(255, 255, 255);
  }
  
  .menu-bar {
    background-color: rgb(7, 28, 52);
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 20px;
    /* max-width:1520px ;*/
    width: 100%;
  }
  
  
.ultag {
  display: flex;
  align-items: center; 
  margin-left: 80px;
  
}
.u1 {
  display: flex;
  flex-direction: column;
}
.dropdown-menu2 {
  display: none;
  z-index: 100;
}
.fas {
  float:right;
  margin-left: 10px;
}
.fa-caret-right {
  margin-top: 4px;
  font-size: 16px;
}

.ultag.active {
  display: grid;
  position: absolute;
  width:80%;
  top: 49px;
  height: 200px;
  /* left: 40%; */
  text-align: center;
  /* z-index: -1; */
  transition: .6s;
  gap: 20px;
  background-color:  rgb(7, 28, 52);
}
.dropdown-menu-1 {
  display: none;
}
.dropdown-menu-2 {
  display: none;
}
.dropdown-menu-3 {
  display: none;
}
.dropdown-menu ul li:hover .dropdown-menu-3 {
  display: block;
  position: absolute;
  top: 0;
  left: 80px;
  background-color: rgb(7, 28, 52);
  width: 90%;
  z-index: 999;
}
.dropdown-menu ul li:hover .dropdown-menu-2{
  display: block;
  position: absolute;
  top: 0;
  left: 80px;
  background-color: rgb(7, 28, 52);
  width: 90%;
  z-index: 999;
}

.menu-bar ul li:hover .dropdown-menu-1 {
  display: block;
  position: absolute;
  top: 100%;
  /* left: 80px; */
  background-color: rgb(7, 28, 52);
  z-index: 999;
}
.dropdown-menu-1 ul li:hover {
  background-color: rgb(110, 110, 110);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
ul li:hover .dropdown-menu-1 {
  /* display: block;
  position: absolute;
  left: 25px;
  height: 200px; */
  background-color: rgb(7, 28, 52);
  /* left: ; */
  position: absolute;
  top: 100%;
  display: block;
  width: 250px; 
  height: 190px;
  padding-top: 10px;
  margin-top: 5px;

  z-index: 999;
}
.u1 {
  display: flex;
  flex-direction: column;
  line-height: 27px;
}


.dropdown-menu ul li a {
  padding-top: 5px;


}
.menu-bar ul li {
  position: relative;
  padding-left: 20px;
  
}
.menu-bar ul li a {
  color: white;
  padding: 5px;
  align-items: center;

}

.menu-bar ul li:hover .dropdown-menu {
  background-color: rgb(7, 28, 52);
  left: 0;
  position: absolute;
  top: 100%;
  display: block;
  padding: 10px;
  width: 200px; 
  margin-top: 5px;
  /* text-align: center; */

}
.dropdown-menu ul li {
  margin-bottom: 10px;
}
.dropdown-menu ul li:hover {
  background-color: rgb(110, 110, 110);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.menu-bar ul li a :last-child {
  padding: 0;
}
.dropdown-menu {
  display: none;
  z-index: 99;
}
  .fontsize {
    font-size: 0.74rem !important;
    font-weight: bold;
    width: 100%;
    font-family:sans-serif;
  }
  
  h1 {
    text-align: center;
    color: black;
    font-size: 45px;
    margin-top: 80px;
    margin-bottom: 50px;
  }
  
  .w-6 {
    width: 50px;
    color: #4263eb;
    background-color: #d0ebff;
    border-radius: 50px;
    padding: 10px;
    margin-bottom: 30px;
  }
  
  .nomeri {
    font-size: 30px;
    letter-spacing: 0.5px;
    margin-bottom: 10px;

  }
  
  .nomeri-1 {
    font-size: 30px;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
    color: #000;
  }
  
  h2 {
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 40px;
  }
  
  .flex-1 {
    box-shadow: 1px 1px 10px 1px;
    text-align: center;
    width: 450px;
    background-color: #7ba3c9;
    font-family: "BPG Mrgvlovani Caps", sans-serif;  
    cursor:pointer; 
  }
  .flex-1:hover{
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -ms-transform: scale(1.08);
  }
  
  .flex-fb {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .flex-fb a {
    text-decoration: none;
    color: black;
    font-size: 24px;
  }
  
  .flex-mail {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .flex-mail p {
    font-size: 20px;
    color: black;
  }
  
  .flex {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 34px;
  }
  
  .logo {
    width: 90px;
    height: 90px;
    border-radius: 50px;
    margin-top: 30px;
  }
  
  .block {
    text-align: center;
    margin-bottom: 30px;
    margin-right: 100px;

  }
  
  .block p {
    font-size: 22px;
    color: black;
    font-family: "BPG Mrgvlovani Caps", sans-serif;   
  }
  
  .flex-bmuli {
    text-align: center;
  }
  
  .bmulebi {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #212529;
  }
  
  .flex-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f3f5;
  }
  
  .links {
    display: flex;
    gap: 30px;
    margin-top: 20px;
    justify-content: center;
  }
  
  .links-2 {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 25px;
  }
  
  .mes {
    width: 300px;
  }

  .lo9  {
    width: 60px;
  }
.mandatur {
  
    width: 65px;

}
.block p {
  font-weight: bold;
}


/* Update about header */
.n79 {
  font-size: 30px;
  color: rgb(255, 255, 255);
  font-family: "BPG Mrgvlovani Caps", sans-serif; 
  font-weight: bold;
  

}
.headerspan {
  font-size: 24px;
  color: rgb(255, 255, 255) ;

}

.menu-bar {
  background-color: rgb(7, 28, 52);
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 20px ;
  /* max-width:1520px ;*/
  width: 100%;
  font-family: "BPG Mrgvlovani Caps", sans-serif; 
  position: relative;


}





.line {
  transition: transform 0.3s ease;
  border-radius: 10px;
  transition: all .5s ease-in-out;
}
.line::before,
.line::after {
  content: '';
  position:absolute;
  transition: all .5s ease-in-out;
}
.line::before {
  transform: translateY(-16px);
}
.line::after {
  transform: translateY(16px);
}
/* ANIMATION */
.burger.open .line {
  transform: translateY(1px);
}
.burger.open #line1 {
 transform: translateY(1px) rotate(-45deg);
}
.burger.open #line2 {
  transform: translateY(-5px) rotate(45deg);
}
.burger.open #line3 {
  display: none;
}




/* ANIMATION-END */
.burger {
  display: none;
  cursor: pointer;
  transition: all .5s ease-in-out;
  width: 200px;
  position: absolute;
  left: 85%;
  

}

.burger div {
  width: 25px;
  height: 4px;
  background-color: #ffffff;
  margin: 2px;
}






.ultag {
  display: flex;
  align-items: center; 
  margin-left: 80px;
  z-index: 2;
  
}
.ultag.active {
  display: grid;
  position: absolute;
  width: 80%;
  height: 200px;
  top: 49px;
  /* left: 40%; */
  text-align: center;
  transition: .6s;
  gap: 20px;
  background-color:  rgb(7, 28, 52);
}

