* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dark-mode {
  transition: 0.3s;
  background-color: rgb(20, 20, 20);
  color: white;
}

/* added */


.headerlogo {
  padding: 7px;
}
.ultag {
  font-size: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.dark-mode .forheader {
  transition: 0.3s;
  background-color: #222;
}
.active {
  width: 100% !important;
}
.forheader {
  display: flex;
  background-color: rgb(15, 49, 90);
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
.forheader {
  height: 80px;
  justify-content: space-between;
}

.headerleft,
.headerright,
.headermid {
  margin: auto 1.2rem !important;
}







/* end */

.dark-mode .maindi {
  transition: 0.3s;
  background-color: #222;
}
.service2 p {
  color: #000;
}
.dark-mode .headerspan {
  color: #fff;
}

.dark-mode .vl {
  border-right: 4px solid rgb(255, 255, 255);
}

.dark-mode .ultag li a {
  color: #fff;
}

.dark-mode .menu-bar {
  transition: 0.3s;
  background-color: #222;
  color: #fff;
}

.dark-mode .flex-footer-999 {
  transition: 0.3s;
  background-color: #222;
}

.dark-mode .contact {
  color: #fff;
}

.dark-mode .name22 {
  color: #fff;
}

.dark-mode {
  transition: 0.3s;
  background-color: rgb(20, 20, 20);
  color: white;
}

.dark-mode .maindi {
  transition: 0.3s;
  background-color: #222;
}
.service2 p {
  color: #000;
}
.dark-mode .headerspan {
  color: #fff;
}

.dark-mode .ultag li a {
  color: #fff;
}

.dark-mode .menu-bar {
  transition: 0.3s;
  background-color: #222;
  color: #fff;
}

.dark-mode .flex-footer-999 {
  transition: 0.3s;
  background-color: #222;
}

.dark-mode .contact {
  color: #fff;
}

.dark-mode .name22 {
  color: #fff;
}

.dark-mode .dropdown-content {
  transition: 0.3s;
  background-color: #222;
}

.dark-mode .dropdown-content2 {
  transition: 0.3s;
  background-color: #222;
}

.dark-mode .dropdown-content3 {
  transition: 0.3s;
  background-color: #222;
}

.dark-mode .dropdown-content4 {
  transition: 0.3s;
  background-color: #222;
}

.dark-mode .dropbtn2:hover {
  background-color: rgb(17, 17, 17);
}

.dark-mode .dropbtn4:hover {
  background-color: rgb(17, 17, 17);
}

.dark-mode .dropdown-content a:hover {
  background-color: rgb(17, 17, 17);
}

/* Change color of dropdown links on hover */
.dark-mode .dropdown-content3 a:hover {
  background-color: rgb(17, 17, 17);
}

.dark-mode .dropdown-content4 a:hover {
  background-color: rgb(17, 17, 17);
}

.dark-mode .news {
  color: #fff;
  background: #ffffff56;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 10px -6px #777;
}

.dark-mode .pagination-number {
  color: rgb(255, 255, 255);
}

.dark-mode .pagination-number:hover {
  background-color: #222;
}

.dark-mode #next-button {
  color: white;
}

.dark-mode #prev-button {
  color: white;
}

.dark-mode #prev-button:hover {
  background-color: #222;
}

.dark-mode #next-button {
  color: white;
}

.dark-mode #next-button:hover {
  background-color: #222;
}

.dark-mode .pagination-number.active {
  color: #fff;
  background: #ffffff56;
}

.dark-mode .popup .content {
  background-color: #222;
}

.dark-mode .popup2 .content {
  background-color: #222;
}

.dark-mode .popup3 .content {
  background-color: #222;
}

.dark-mode .popup4 .content {
  background-color: #222;
}

.dark-mode .popup5 .content {
  background-color: #222;
}

.dark-mode .popup6 .content {
  background-color: #222;
}

.dark-mode .popup7 .content {
  background-color: #222;
}

.dark-mode .popup8 .content {
  background-color: #222;
}

.dark-mode .popup9 .content {
  background-color: #222;
}

.dark-mode .popup10 .content {
  background-color: #222;
}

.dark-mode .popup11 .content {
  background-color: #222;
}

.dark-mode .popup12 .content {
  background-color: #222;
}

.dark-mode h1 {
  color: rgb(255, 255, 255);
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #000000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* dropdownmenu */
.dropbtn {
  padding: 8px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  background: none;
  color: white;
  font-family: "BPG Mrgvlovani Caps", sans-serif;
}

.dropbtn2 {
  padding: 8px;
  font-size: 13px;
  border: none;
  cursor: pointer;
  background: none;
  color: white;
  font-family: "BPG Mrgvlovani Caps", sans-serif;
}

.dropbtn3 {
  padding: 8px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  background: none;
  color: white;
  font-family: "BPG Mrgvlovani Caps", sans-serif;
}

.dropbtn4 {
  margin-bottom: 5px;
  padding: 8px;
  font-size: 13px;
  border: none;
  cursor: pointer;
  background: none;
  color: white;
  font-family: "BPG Mrgvlovani Caps", sans-serif;
}

.dropbtn2 {
  margin-bottom: 10px;
}

.dropbtn4 span {
  font-size: 12px;
}

.dropbtn span {
  margin-right: 5px;
  font-size: 19px;
}

.dropbtn3 span {
  font-size: 19px;
  margin-right: 5px;
}

.dropbtn2:hover {
  background-color: rgb(15, 49, 90);
}

.dropbtn4:hover {
  background-color: rgb(15, 49, 90);
}

/* Dropdown button on hover & focus */

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  height: 300px;
  display: none;
  position: absolute;
  background-color: rgb(7, 28, 52);
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content2 {
  margin-left: 12.5rem;
  margin-top: -3.2rem;
  height: 228px;
  display: none;
  position: absolute;
  background-color: rgb(7, 28, 52);
  min-width: 190px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.margin-li {
  background-color:rgb(7, 28, 52) ;
}
.dark-mode .margin-li {
  background-color: #222;
}
.fontsize {
  background-color:rgb(7, 28, 52) ;
}
.dark-mode .fontsize {
  background-color: #222;
}

.dropdown-content3 {
  height: 135px;
  display: none;
  position: absolute;
  background-color: rgb(7, 28, 52);
  min-width: 230px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content4 {
  justify-content: center;
  margin-left: 14.4rem;
  margin-top: -2.8rem;
  display: none;
  height: 40px;
  position: absolute;
  background-color: rgb(7, 28, 52);
  min-width: 190px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.margin-li {
  margin-bottom: 10px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content2 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content3 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content4 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgb(15, 49, 90);
}

/* Change color of dropdown links on hover */
.dropdown-content3 a:hover {
  background-color: rgb(15, 49, 90);
}

.dropdown-content4 a:hover {
  background-color: rgb(15, 49, 90);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}





.fontsize {
  font-size: 13px;
  font-weight: 200;
  height: 100%;
  width: 100%;
  font-family: "bpg mrgvlovani caps" Georgia, "Times New Roman", Times, serif;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}
.maindi {
  display: flex;
  width: 100%;
  background-color: rgb(15, 49, 90);
  align-items: center;
  gap: 20px;
  font-family: "BPG Mrgvlovani Caps", sans-serif;
}

.notmaindi {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.buttonmoon {
  border-radius: 50px;
  background-color: #454444;
  outline: none;
  border: none;
  cursor: pointer;
}

.headerlogo {
  width: 90px;
  height: 90px;
  border-radius: 50px;
  margin-left: 90px;
}
.n79 {
  font-size: 30px;
  color: rgb(255, 255, 255);
  font-family: "BPG Mrgvlovani Caps", sans-serif;
  font-weight: bold;
}
.headerspan {
  font-size: 24px;
  color: rgb(255, 255, 255);
}

.menu-bar {
  background-color: rgb(7, 28, 52);
  height: 50px;
  display: flex;
  align-items: center;
  width: 100%;
  font-family: "BPG Mrgvlovani Caps", sans-serif;
  position: relative;
  justify-content: center;
}
.line {
  transition: transform 0.3s ease;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
.line::before,
.line::after {
  content: "";
  position: absolute;
  transition: all 0.5s ease-in-out;
}
.line::before {
  transform: translateY(-16px);
}
.line::after {
  transform: translateY(16px);
}
/* ANIMATION */
.burger.open .line {
  transform: translateY(1px);
}
.burger.open #line1 {
  transform: translateY(1px) rotate(-45deg);
}
.burger.open #line2 {
  transform: translateY(-5px) rotate(45deg);
}
.burger.open #line3 {
  display: none;
}

/* ANIMATION-END */
.burger {
  display: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  width: 200px;
  position: absolute;
  left: 85%;
}

.burger div {
  width: 25px;
  height: 4px;
  background-color: #ffffff;
  margin: 2px;
}

.u1 {
  display: flex;
  flex-direction: column;
  line-height: 27px;
}

.fas {
  float: right;
  margin-left: 10px;
}
.fa-caret-right {
  margin-top: 4px;
  font-size: 16px;
  margin-right: 10px;
}
.ultag.active{
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: rgb(7, 28, 52);
  top: 10%;
  width: 80%;
  height: 260px;
  padding: 10px;

}

.menu-bar ul li {
  position: relative;
}
.menu-bar ul li a {
  color: white;
  padding: 10px;
  align-items: center;
  font-size: 14px;
}
.dropbtn3 span {
  font-size: 14px;
}
.dropbtn span {
  font-size: 14px;
}

.menu-bar ul li a :last-child {
  padding: 0;
}

/* section-direqcia */




/* responsive */

@media screen and (max-width: 1300px) {

  /* .ultag {
    display: none;
  }
  .ultag2 {
    display: none;
  }

  .burger {
    display: block;
    position: relative;
  } */
  .dark-mode .dropdown-content {
    transition: 0.3s;
    background-color: #222;
  } 



}
@media screen  and (max-width:1250px){
  /* main {
    display: flex;
    flex-direction: column;
  } */
  .page1 {
   display: flex;
   gap: 40px;
   flex-direction: column;
   width: 80vw;
  }
  
}

@media screen and (max-width:888px) {
    .ultag {
    display: none;
  }

  .burger {
    display: block;
    position: relative;
  }

}
@media screen and (max-width:690px) {
  
  .dropdown-content2 {
    margin-left: -1.5rem;
    margin-top: .2rem;
    height: 228px;
    /* display: none; */

    position: absolute;
    background-color: rgb(7, 28, 52);
    min-width: 190px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  .dropdown-content4 {
    justify-content: center;
    margin-left: 1.4rem;
    margin-top: .1rem;
    height: 40px;
    position: absolute;
    background-color: rgb(7, 28, 52);
    min-width: 190px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
}
@media  screen and (max-width: 590px) {
  .ultag.active{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgb(7, 28, 52);
    top: 10%;
    width: 80%;
    height: 260px;
    padding: 20px;
  }
  .ultag2.active {
    display: flex;
    flex-direction: column;
  
    background-color: rgba(7, 28, 52, 0);
    top: 270%;
    /* width: 90%; */
    position: absolute;
    left: 25%;
    align-items: center;
    height: 200px;
    margin-top: 20px;
    
  }
  .info1 {
    width: 400px;
    height: 55rem;
  }
  .info2 {
    width: 400px;
    height: 55rem;
  }
  .n79 {
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-family: "BPG Mrgvlovani Caps", sans-serif;
    font-weight: bold;
  }
  .headerspan {
    font-size: 19px;
    color: rgb(255, 255, 255);
  }
}
@media  screen and (max-width: 450px) {
  .ultag.active{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgb(7, 28, 52);
    top: 10%;
    width: 75%;
    height: 300px;
    padding: 20px;
    text-align: center;
  }
  .info1 {
    width: 350px;
    height: 55rem;
  }
  .info2 {
    width: 350px;
    height: 58rem;
  }
  .ultag2.active {
    display: flex;
    flex-direction: column;
  
    background-color: rgba(7, 28, 52, 0);
    top: 290%;
    /* width: 90%; */
    position: absolute;
    left: 20%;
    align-items: center;
    height: 200px;
    margin-top: 30px;
    text-align: center;
    
  }
  .n79 {
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family: "BPG Mrgvlovani Caps", sans-serif;
    font-weight: bold;
  }
  .headerspan {
    font-size: 16px;
    color: rgb(255, 255, 255);
  }

}
@media screen and (max-width:370px) {
  
  .headerspan {
    font-size: 10px;
    
  }
  .n79 {
    font-size: 15px;
  }


}














/* responsive end */


/* footer */
.logo {
  width: 80px;
  border-radius: 50px;
}

.firstdivof-footer {
  text-align: center;
}

.firstdivof-footer p {
  font-size: 22px;
  color: #ffffff;
}

.flex-footer-999 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(17, 74, 145);
}

.block-999 {
  display: block;
  text-align: center;
}

.logo-links-999 {
  display: flex;
  gap: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.logo-links-9999 {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.contact {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 20px;
}
.contact h2 {
  padding-bottom: 20px;
}
.contact p {
  padding-bottom: 20px;
}
.rustavel {
  width: 75px;
}
.mandatur {
  width: 75px;
}

.logo {
  margin-bottom: 20px;
}
.saqartvelo {
  width: 250px;
}
.footerh2 {
  font-size: 20px;
  font-weight: bolder;
  padding-bottom: 20px;
  padding-top: 10px;
}
.footerh22 {
  font-weight: bold;
  font-size: 20px;
}

/* from style css */

/* header update */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.headerlogo {
  width: 90px;
  height: 90px;
  border-radius: 50px;
  margin-left: 90px;
}
.maindi {
  display: flex;
  width: 100%;
  background-color: rgb(15, 49, 90);
  align-items: center;
  gap: 20px;
  font-family: "BPG Mrgvlovani Caps", sans-serif;
}
.n79 {
  font-size: 30px;
  color: rgb(255, 255, 255);
  font-family: "BPG Mrgvlovani Caps", sans-serif;
  font-weight: bold;
}
.headerspan {
  font-size: 24px;
  color: rgb(255, 255, 255);
}

/* .menu-bar {
  background-color: rgb(7, 28, 52);
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 20px;

  width: 100%;
  position: relative;
} */

.line {
  transition: transform 0.3s ease;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
.line::before,
.line::after {
  content: "";
  position: absolute;
  transition: all 0.5s ease-in-out;
}
.line::before {
  transform: translateY(-16px);
}
.line::after {
  transform: translateY(16px);
}
/* ANIMATION */
.burger.open .line {
  transform: translateY(1px);
}
.burger.open #line1 {
  transform: translateY(1px) rotate(-45deg);
}
.burger.open #line2 {
  transform: translateY(-5px) rotate(45deg);
}
.burger.open #line3 {
  display: none;
}

/* ANIMATION-END */
.burger {
  display: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  width: 200px;
  position: absolute;
  left: 85%;
}

.burger div {
  width: 25px;
  height: 4px;
  background-color: #ffffff;
  margin: 2px;
}

.ultag {
  display: flex;
  align-items: center;
  font-family: "BPG Mrgvlovani Caps", sans-serif;
}

.dropdown-menu ul li a {
  padding-top: 5px;
}
.dropdown-menu ul li {
  margin-bottom: 10px;
  font-family: sans-serif;
}

.dropdown-menu2 {
  display: none;
  z-index: 100;
}

.dropdown-menu-1 {
  display: none;
}
.dropdown-menu-2 {
  display: none;
}
.dropdown-menu-3 {
  display: none;
}
.dropdown-menu ul li:hover .dropdown-menu-3 {
  display: block;
  position: absolute;
  top: 0;
  left: 80px;
  background-color: rgb(7, 28, 52);
  width: 90%;
  z-index: 999;
}
.dropdown-menu ul li:hover .dropdown-menu-2 {
  display: block;
  position: absolute;
  top: 0;
  left: 80px;
  background-color: rgb(7, 28, 52);
  width: 90%;
  z-index: 999;
}

ul li:hover .dropdown-menu-1 {
  /* display: block;
  position: absolute;
  left: 25px;
  height: 200px; */
  background-color: rgb(7, 28, 52);
  /* left: ; */
  position: absolute;
  top: 100%;
  display: block;
  width: 250px;
  height: 190px;
  padding-top: 10px;
  margin-top: 5px;

  z-index: 999;
}

/* .dropdown-menudark ul li:hover .dropdown-menu-2dark {
  background-color:rgb(12, 12, 12) ; 
  display: block;
  position: absolute;
  top: 0;
  left: 80px;
  width: 90%;
  z-index: 999;

}
.dropdown-menu-2dark {
  display: none;
  z-index: 100;
}
 */

.dropdown-menu ul li a {
  padding-top: 5px;
}

.menu-bar ul li:hover .dropdown-menu {
  background-color: rgb(7, 28, 52);
  left: 0;
  position: absolute;
  top: 100%;
  display: block;
  width: 200px;
  margin-top: 5px;
  /* text-align: center; */
}

.dropdown-menu ul li {
  margin-bottom: 10px;
}
.dropdown-menu ul li:hover {
  background-color: rgb(110, 110, 110);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dropdown-menu-1 ul li:hover {
  background-color: rgb(110, 110, 110);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-bar ul li a :last-child {
  padding: 0;
}
.dropdown-menu {
  display: none;
  z-index: 99;
}

.u1 {
  display: flex;
  flex-direction: column;
  line-height: 27px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #000000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* pagination */
main {
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  position: relative;
  min-height: 50rem;
  margin-bottom: 5rem;
  width: 80vw;
}


.hidden {
  display: none;
}

.newsh2 {
  font-size: 30px;
  font-family: "bpg mrgvlovani caps";
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 5rem;
  font-weight: 600;
}

h1 {
  font-size: 30px;
}
.page1 {
  display: flex;
  gap: 40px;
}

.news {
  cursor: pointer;
  transition: 0.2s;
  border-radius: 10px;
  width: 80vw;
  height: 190px;
  text-align: center;
  padding: 80px;
  margin-top: 20px;
  font-size: 20px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 106px -6px #777;
}

.pagination-container {
  display: flex;
  align-items: center;

}

.pagination-number,
.pagination-button {
  transition: 0.3s;
  font-size: 1.1rem;
  background-color: transparent;
  border: none;
  margin: 0.25rem 0.25rem;
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 0.2rem;
}

.pagination-number:hover,
.pagination-button:not(.disabled):hover {
  background: #fff;
}

.pagination-number.active {
  color: #fff;
  background: #0085b6;
}

#next-button:hover {
  background-color: #dfdcdc;
}

#next-button {
  transition: 0.3s;
}

#prev-button:hover {
  background-color: #dfdcdc;
}

#prev-button {
  transition: 0.3s;
}

/* hiddendiv on click */

/* popup */
.popup .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}

.popup .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #fff;
  width: 80vw;
  height: 500px;
  z-index: 2;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
}
.popup .close-btn {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background-color: #222;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 10px;
}

.popup.active .overlay {
  display: block;
}

.popup.active .content {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}

/* popup2 */
.popup2 .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}

.popup2 .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #fff;
  width: 80vw;
  height: 500px;
  z-index: 2;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
}

.popup2 .close-btn {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background-color: #222;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

.popup2.active .overlay {
  display: block;
}

.popup2.active .content {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}

/* popup3 */
.popup3 .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}

.popup3 .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #fff;
  width: 80vw;
  height: 500px;
  z-index: 2;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
}

.popup3 .close-btn {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background-color: #222;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

.popup3.active .overlay {
  display: block;
}

.popup3.active .content {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}

/* popup4 */
.popup4 .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}

.popup4 .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #fff;
  width: 80vw;
  height: 500px;
  z-index: 2;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
}

.popup4 .close-btn {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background-color: #222;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

.popup4.active .overlay {
  display: block;
}

.popup4.active .content {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}

/* popup5 */
.popup5 .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}

.popup5 .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #fff;
  width: 80vw;
  height: 500px;
  z-index: 2;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
}

.popup5 .close-btn {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background-color: #222;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

.popup5.active .overlay {
  display: block;
}

.popup5.active .content {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}

/* popup6 */
.popup6 .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}

.popup6 .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #fff;
  width: 80vw;
  height: 500px;
  z-index: 2;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
}

.popup6 .close-btn {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background-color: #222;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

.popup6.active .overlay {
  display: block;
}

.popup6.active .content {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}

/* popup7 */
.popup7 .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}

.popup7 .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #fff;
  width: 80vw;
  height: 500px;
  z-index: 2;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
}

.popup7 .close-btn {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background-color: #222;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

.popup7.active .overlay {
  display: block;
}

.popup7.active .content {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}

/* popup8 */

.popup8 .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}

.popup8 .content {
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #fff;
  width: 80vw;
  height: 500px;
  z-index: 2;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.popup8 .close-btn {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background-color: #222;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

.popup8.active .overlay {
  display: block;
}

.popup8.active .content {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}

/* popup9 */
.popup9 .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}

.popup9 .content {
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #fff;
  width: 80vw;
  height: 500px;
  z-index: 2;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.popup9 .close-btn {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background-color: #222;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

.popup9.active .overlay {
  display: block;
}

.popup9.active .content {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}

/* popup10 */
.popup10 .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}

.popup10 .content {
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #fff;
  width: 80vw;
  height: 500px;
  z-index: 2;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.popup10 .close-btn {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background-color: #222;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

.popup10.active .overlay {
  display: block;
}

.popup10.active .content {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}

/* popup11 */
.popup11 .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}

.popup11 .content {
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #fff;
  width: 80vw;
  height: 500px;
  z-index: 2;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.popup11 .close-btn {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background-color: #222;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

.popup11.active .overlay {
  display: block;
}

.popup11.active .content {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}

/* popup12 */

.popup12 .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}

.popup12 .content {
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #fff;
  width: 80vw;
  height: 500px;
  z-index: 2;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.popup12 .close-btn {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background-color: #222;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

.popup12.active .overlay {
  display: block;
}

.popup12.active .content {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}

.minfoot {
  background-color: #0d0c3f;
  display: flex;
  flex-direction: column;
  height: 5rem;
  align-items: center;
  width: 100%;
  
}
.dark-mode .minfoot {
  background-color: #202020;
  transition: .3s linear;
}
.minfootminfooter {
  display: flex;
  margin-top: 10px;
  width: 9rem;
  justify-content: space-between;
}
.minfoot span {
  color: #fff;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-top: 5px;
}
.minfootminfooter a {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
} 