body {
  font: sans-serif;
  background-color: rgb(212, 212, 212);
}

.maindi {
  display: flex;
  width: 100%;
  background-color: rgb(15, 49, 90);
  align-items: center;
  gap: 20px;
  font-family: "BPG Mrgvlovani Caps", sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.headerlogo {
  width: 90px;
  height: 90px;
  border-radius: 50px;
  margin-left: 90px;
}
.n79 {
  font-size: 30px;
  color: rgb(255, 255, 255);
  font-family: "BPG Mrgvlovani Caps", sans-serif;
  font-weight: bold;
}
.headerspan {
  font-size: 24px;
  color: rgb(255, 255, 255);
}

.menu-bar {
  background-color: rgb(7, 28, 52);
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 20px;
  /* max-width:1520px ;*/
  width: 100%;
  font-family: "BPG Mrgvlovani Caps", sans-serif;
  position: relative;
}

.line {
  transition: transform 0.3s ease;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
.line::before,
.line::after {
  content: "";
  position: absolute;
  transition: all 0.5s ease-in-out;
}
.line::before {
  transform: translateY(-16px);
}
.line::after {
  transform: translateY(16px);
}
/* ANIMATION */
.burger.open .line {
  transform: translateY(1px);
}
.burger.open #line1 {
  transform: translateY(1px) rotate(-45deg);
}
.burger.open #line2 {
  transform: translateY(-5px) rotate(45deg);
}
.burger.open #line3 {
  display: none;
}

/* ANIMATION-END */
.burger {
  display: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  width: 200px;
  position: absolute;
  left: 85%;
}

.burger div {
  width: 25px;
  height: 4px;
  background-color: #ffffff;
  margin: 2px;
}

.ultag {
  display: flex;
  align-items: center;
  margin-left: 80px;
}
.ultag.active {
  display: grid;
  position: absolute;
  width: 80%;
  top: 49px;
  height: 200px;
  /* left: 40%; */
  text-align: center;
  /* z-index: -1; */
  transition: 0.6s;
  gap: 20px;
  background-color: rgb(7, 28, 52);
}

.dropdown-menu ul li a {
  padding-top: 5px;
}
.menu-bar ul li {
  position: relative;
  padding-left: 20px;
}
.menu-bar ul li a {
  color: white;
  padding: 5px;
  align-items: center;
}

.menu-bar ul li:hover .dropdown-menu {
  background-color: rgb(7, 28, 52);
  left: 0;
  position: absolute;
  top: 100%;
  display: block;
  padding: 10px;
  width: 200px;
  margin-top: 5px;
  /* text-align: center; */
}
.dropdown-menu ul li {
  margin-bottom: 10px;
}
.dropdown-menu ul li a:hover {
  background-color: rgb(110, 110, 110);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-bar ul li a :last-child {
  padding: 0;
}
.dropdown-menu {
  display: none;
  z-index: 99;
}
.fontsize {
  font-size: 0.74rem !important;
  font-weight: bold;
  width: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* mission */

   .information {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
} 


.row {
  gap: 40px;
  display: flex;
  margin-top: 45rem;
  margin-bottom: 5rem;
  
}

.main {
  width: 40rem;
  height: 300px;
  position: relative;
  cursor: pointer;
  margin-bottom: 10rem;
}

.main2 {
  width: 40rem;
  height: 300px;
  position: relative;
  cursor: pointer;
  margin-bottom: 5rem;
}

.service {
  background: #fcfcfc;
  padding: 30px;
  height: 44rem;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  z-index: 1;
  box-shadow: 0 0 20px -15px #030380;
  transition: transform 0.8s;
}

.service2 {
  background: #fcfcfc;
  height: 44rem;
  padding: 30px;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  z-index: 1;
  box-shadow: 0 0 20px -15px #030380;
  transition: transform 0.8s;
}

.service-logo {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: -90px auto 0;
  background: rgb(255, 255, 255);
  border: 18px solid rgb(0, 19, 54);
  text-align: center;
}

.service-logo img {
  color: white;
  width: 50px;
  margin-top: 20px;
}

.service h4 {
  background-color: white;

  text-align: center;
  font-family: "bpg mrgvlovani caps";

  width: 200px;
  height: 30px;
  background: #ffffff;
  margin: 50px auto;
  position: relative;
  font-style: bold;
}

.service2 h4 {
  background-color: white;
  text-align: center;
  font-family: "bpg mrgvlovani caps";

  width: 200px;
  height: 30px;
  margin: 50px auto;
  position: relative;
  font-style: bold;
}

.service2 p span {
  font-weight: bold;
}

.service p {
  line-height: 20px;
  font-size: 12px;
  font-style: bold;
  font-family: "bpg mrgvlovani caps";
}

.service2 p {
  margin-bottom: 10px;
  line-height: 17px;
  font-size: 12px;
  font-style: bold;
  font-family: "bpg mrgvlovani caps";
}




.shadowOne {
  height: 200px;
  width: 80%;
  background: #ffffff;
  position: absolute;
  border-radius: 10px;
  bottom: 0;
  left: 10%;
  z-index: -1;
  box-shadow: 0 0 20px -15px #030380;
  transition: transform 0.8s;
}

.shadowTwo {
  height: 200px;
  width: 64%;
  background: #ffffff;
  position: absolute;
  border-radius: 10px;
  bottom: 0;
  left: 18%;
  z-index: -2;
}

.service .mission-p {
  line-height: 60px;
}

.main:hover .service {
  transform: translateY(-50px);
}

.main:hover .shadowOne {
  transform: translateY(-25px);
}

.main2:hover .service2 {
  transform: translateY(-50px);
}

.main2:hover .shadowOne {
  transform: translateY(-25px);
}

/* footer */