body {
  font: sans-serif;
  background-color: #f4f4f3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dark-mode {
  transition: 0.3s;
  background-color: rgb(20, 20, 20);
  color: white;
}

.dark-mode .maindi {
  transition: 0.3s;
  background-color: #222;
}
.service2 p {
  color: #000;
}
.dark-mode .headerspan {
  color: #fff;
}


/* added */


.headerlogo {
  padding: 7px;
}
.ultag {
  font-size: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.dark-mode .forheader {
  transition: 0.3s;
  background-color: #222;
}
.active {
  width: 100% !important;
}
.forheader {
  display: flex;
  background-color: rgb(15, 49, 90);
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
.forheader {
  height: 80px;
  justify-content: space-between;
}

.headerleft,
.headerright,
.headermid {
  margin: auto 1.2rem !important;
}







/* end */
.dark-mode .ultag li a {
  color: #fff;
}

.dark-mode .menu-bar {
  transition: 0.3s;
  background-color: #222;
  color: #fff;
}

.dark-mode .flex-footer-999 {
  transition: 0.3s;
  background-color: #222;
}

.dark-mode .contact {
  color: #fff;
}

.dark-mode .name22 {
  color: #fff;
}

.dark-mode .dropdown-content {
  transition: 0.3s;
  background-color: #222;
}

.dark-mode .dropdown-content2 {
  transition: 0.3s;
  background-color: #222;
}

.dark-mode .dropdown-content3 {
  transition: 0.3s;
  background-color: #222;
}

.dark-mode .dropdown-content4 {
  transition: 0.3s;
  background-color: #222;
}

.dark-mode .dropbtn2:hover {
  background-color: rgb(17, 17, 17);
}

.dark-mode .dropbtn4:hover {
  background-color: rgb(17, 17, 17);
}

.dark-mode .dropdown-content a:hover {
  background-color: rgb(17, 17, 17);
}

/* Change color of dropdown links on hover */
.dark-mode .dropdown-content3 a:hover {
  background-color: rgb(17, 17, 17);
}

.dark-mode .dropdown-content4 a:hover {
  background-color: rgb(17, 17, 17);
}

.dark-mode {
  background-color: rgb(20, 20, 20);
  color: white;
  transition: 0.3s;
}

.dark-mode .maindi {
  transition: 0.3s;
  background-color: #222;
}
.service2 p {
  color: #000;
  transition: 0.3s;
}
.dark-mode .headerspan {
  transition: 0.3s;
  color: #fff;
}
.dark-mode .dropdown-menu ul {
  transition: 0.3s;
  background-color: #222;
}

.dark-mode .ultag li a {
  transition: 0.3s;
  color: #fff;
}

.dark-mode .menu-bar {
  transition: 0.3s;
  background-color: #222;
  color: #fff;
}
.dark-mode .menu-bar .ultag .dropdown-menu {
  transition: 0.3s;
  background-color: #222;
  color: #fff;
}
.dark-mode .menu-bar .ultag .dropdown-menu-1 {
  background-color: #222;
  color: #fff;
}

.dark-mode .menu-bar .ultag .dropdown-menu ul li .dropdown-menu-2 {
  background-color: #222;
  color: #fff;
}
.dark-mode .flex-footer-999 {
  transition: 0.3s;
  background-color: #222;
}

.dark-mode .contact {
  transition: 0.3s;
  color: #fff;
}

.dark-mode .name22 {
  transition: 0.3s;
  color: #fff;
}

.dark-mode .info1 {
  background-color: white;
}

.dark-mode .info1 ol li {
  color: black;
}

.dark-mode .info1 h1 {
  color: black;
}

.dark-mode .info1 {
  background-color: #222;
}

.dark-mode .info1 h1 {
  color: white;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #000000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* dropdownmenu */
.dropbtn {
  padding: 8px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  background: none;
  color: white;
  font-family: "BPG Mrgvlovani Caps", sans-serif;
}

.dropbtn2 {
  padding: 8px;
  font-size: 13px;
  border: none;
  cursor: pointer;
  background: none;
  color: white;
  font-family: "BPG Mrgvlovani Caps", sans-serif;
}

.dropbtn3 {
  padding: 8px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  background: none;
  color: white;
  font-family: "BPG Mrgvlovani Caps", sans-serif;
}

.dropbtn4 {
  margin-bottom: 5px;
  padding: 8px;
  font-size: 13px;
  border: none;
  cursor: pointer;
  background: none;
  color: white;
  font-family: "BPG Mrgvlovani Caps", sans-serif;
}

.dropbtn2 {
  margin-bottom: 10px;
}

.dropbtn4 span {
  font-size: 12px;
}

.dropbtn span {
  margin-right: 5px;
  font-size: 19px;
}

.dropbtn3 span {
  font-size: 19px;
  margin-right: 5px;
}

.dropbtn2:hover {
  background-color: rgb(15, 49, 90);
}

.dropbtn4:hover {
  background-color: rgb(15, 49, 90);
}

/* Dropdown button on hover & focus */

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  height: 300px;
  display: none;
  position: absolute;
  background-color: rgb(7, 28, 52);
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content2 {
  margin-left: 12.5rem;
  margin-top: -3.2rem;
  height: 228px;
  display: none;
  position: absolute;
  background-color: rgb(7, 28, 52);
  min-width: 190px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content3 {
  height: 135px;
  display: none;
  position: absolute;
  background-color: rgb(7, 28, 52);
  min-width: 230px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content4 {
  justify-content: center;
  margin-left: 14.4rem;
  margin-top: -2.8rem;
  display: none;
  height: 40px;
  position: absolute;
  background-color: rgb(7, 28, 52);
  min-width: 190px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.margin-li {
  background-color:rgb(7, 28, 52) ;
}
.dark-mode .margin-li {
  background-color: #222;
}
.fontsize {
  background-color:rgb(7, 28, 52) ;
}
.dark-mode .fontsize {
  background-color: #222;
}
.margin-li {
  margin-bottom: 10px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content2 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content3 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content4 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgb(15, 49, 90);
}

/* Change color of dropdown links on hover */
.dropdown-content3 a:hover {
  background-color: rgb(15, 49, 90);
}

.dropdown-content4 a:hover {
  background-color: rgb(15, 49, 90);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.fontsize {
  font-size: 13px;
  font-weight: 200;
  height: 100%;
  width: 100%;
  font-family: "bpg mrgvlovani caps" Georgia, "Times New Roman", Times, serif;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

.maindi {
  display: flex;
  width: 100%;
  background-color: rgb(15, 49, 90);
  align-items: center;
  gap: 20px;
  font-family: "BPG Mrgvlovani Caps", sans-serif;
}

.notmaindi {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.buttonmoon {
  border-radius: 50px;
  background-color: #454444;
  outline: none;
  border: none;
  cursor: pointer;
}

.headerlogo {
  width: 90px;
  height: 90px;
  border-radius: 50px;
  margin-left: 90px;
}
.n79 {
  font-size: 30px;
  color: rgb(255, 255, 255);
  font-family: "BPG Mrgvlovani Caps", sans-serif;
  font-weight: bold;
}
.headerspan {
  font-size: 24px;
  color: rgb(255, 255, 255);
}

.menu-bar {
  background-color: rgb(7, 28, 52);
  height: 50px;
  display: flex;
  align-items: center;
  width: 100%;
  font-family: "BPG Mrgvlovani Caps", sans-serif;
  position: relative;
  justify-content: center;
}

.line {
  transition: transform 0.3s ease;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
.line::before,
.line::after {
  content: "";
  position: absolute;
  transition: all 0.5s ease-in-out;
}
.line::before {
  transform: translateY(-16px);
}
.line::after {
  transform: translateY(16px);
}
/* ANIMATION */
.burger.open .line {
  transform: translateY(1px);
}
.burger.open #line1 {
  transform: translateY(1px) rotate(-45deg);
}
.burger.open #line2 {
  transform: translateY(-5px) rotate(45deg);
}
.burger.open #line3 {
  display: none;
}

/* ANIMATION-END */
.burger {
  display: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  width: 200px;
  position: absolute;
  left: 85%;
}

.burger div {
  width: 25px;
  height: 4px;
  background-color: #ffffff;
  margin: 2px;
}

.u1 {
  display: flex;
  flex-direction: column;
  line-height: 27px;
}

.fas {
  float: right;
  margin-left: 10px;
}
.fa-caret-right {
  margin-top: 4px;
  font-size: 16px;
  margin-right: 10px;
}

.menu-bar ul li {
  position: relative;
}

.menu-bar ul li a {
  color: white;
  padding: 10px;
  align-items: center;
  font-size: 13px;
}
.dropbtn3 span {
  font-size: 14px;
}
.dropbtn span {
  font-size: 14px;
}

.menu-bar ul li a :last-child {
  padding: 0;
}





@media screen and (max-width: 1300px) {


  .dark-mode .dropdown-content {
    transition: 0.3s;
    background-color: #222;
  } 
  


}



@media screen and (max-width:888px) {
  .burger {
    display: block;
    position: relative;
  }
   .ultag {
    display: none;
  }

.ultag.active li {
  margin-bottom: 7px ;
}



}
@media screen and (max-width:690px) {
  
  .dropdown-content2 {
    margin-left: -1.5rem;
    margin-top: .2rem;
    height: 228px;
    /* display: none; */

    position: absolute;
    background-color: rgb(7, 28, 52);
    min-width: 190px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  .dropdown-content4 {
    justify-content: center;
    margin-left: 1.4rem;
    margin-top: .1rem;
    height: 40px;
    position: absolute;
    background-color: rgb(7, 28, 52);
    min-width: 190px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
 .text h1 {
  font-size: 12px;
 }
 .text li {
  font-size: 12px;
 }
 .text2 li {
  font-size: 12px;
 }
  
}
@media  screen and (max-width: 590px) {
  .ultag.active{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgb(7, 28, 52);
    top: 10%;
    width: 80%;
    height: 260px;
    padding: 20px;
  }


  

  .n79 {
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-family: "BPG Mrgvlovani Caps", sans-serif;
    font-weight: bold;
  }
  .headerspan {
    font-size: 19px;
    color: rgb(255, 255, 255);
  }
}
@media screen and (max-width:500px) {
  .text h1 {
    font-size: 10px;
   }
   .text li {
    font-size: 10px;
   }
   .text2 li {
    font-size: 10px;
   }
  
}
@media  screen and (max-width: 450px) {
  .ultag.active{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgb(7, 28, 52);
    top: 10%;
    width: 75%;
    height: 300px;
    padding: 20px;
    text-align: center;
  }

  .ultag2.active {
    display: flex;
    flex-direction: column;
  
    background-color: rgba(7, 28, 52, 0);
    top: 290%;
    /* width: 90%; */
    position: absolute;
    left: 20%;
    align-items: center;
    height: 200px;
    margin-top: 30px;
    text-align: center;
    
  }

  .n79 {
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family: "BPG Mrgvlovani Caps", sans-serif;
    font-weight: bold;
  }
  .headerspan {
    font-size: 16px;
    color: rgb(255, 255, 255);
  }

}
@media screen and (max-width:412px) {
  .text h1 {
    font-size: 8px;
   }
   .text li {
    font-size: 8px;
   }
   .text2 li {
    font-size: 8px;
   }
}
@media screen and (max-width:370px) {
  
  .headerspan {
    font-size: 10px;
    
  }
  .n79 {
    font-size: 15px;
  }
  .text h1 {
    font-size: 8px;
   }
   .text li {
    font-size: 8px;
   }
   .text2 li {
    font-size: 8px;
   }
   .text {
    font-family: sans-serif;
    line-height: 15px;
    margin-top: 30px;
    text-align: center;
  }
  
  .text2 {
    margin-top: 120px;
    font-family: sans-serif;
    line-height: 15px;
    margin-left: 2rem;
  }
  
  


}



/* responsive end */






/* Slider */

.swiper {
  /* width: 100%; */
  height: fit-content;
  /* z-index: 2; */
}
.swiper-slide img {
  width: 100%;
  height: 500px;
  cursor: move;
}
.swiper-slide {
  position: relative;
  text-align: center;
}
.prev {
  border-radius: 4px;
}
.next {
  border-radius: 4px;
}

.divofdiv79 {
  position: absolute;
  z-index: 505;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: all-scroll;
}
.div79 {
  justify-content: center;
  align-items: center;
  font-size: 66px;
  font-family: "BPG Mrgvlovani Caps", sans-serif;
  font-weight: bold;
  text-shadow: 2px 1px 4px #fff;
  font-style: italic;
  color: rgb(7, 3, 26);
}
.span79e {
  color: rgb(15, 49, 90);
  text-shadow: none;
  text-shadow: 2px 0.5px 4px #ffffff;
}
.paginations {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 500px;
  margin-top: 140px;
  margin-bottom: 20px;
}

/* miniinfo */
.info {
  width: 80vw;
  display: flex;
  margin-top: 60px;
  margin-bottom: 100px;
}
.nameofschool {
  font-weight: 900;
  font-size: large;
}
.spanss {
  text-decoration: dotted;
}
.spanss span {
  margin-left: 20px;
}
.divofspanss {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.text {
  font-family: sans-serif;
  font-weight: 600;
  line-height: 25px;
}
.textdark {
  font-family: sans-serif;
  font-weight: 600;
  line-height: 25px;
  color: #fff;
}
.mintext {
  margin-left: 20px;
}
.minitext {
  margin-top: 20px;
}

/* footer */

.logo {
  width: 80px;
  border-radius: 50px;
}

.firstdivof-footer {
  text-align: center;
}

.firstdivof-footer p {
  font-size: 22px;
  color: #ffffff;
}

.flex-footer-999 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(17, 74, 145);
  width: 100%;
}
.flex-footer-999dark {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(12, 12, 12);
  width: 100%;
}

.block-999 {
  display: flex;
  flex-direction: column;
  /* justify-self: center; */
  align-items: center;
  /* text-align: center; */
}

.logo-links-999 {
  display: flex;
  gap: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.logo-links-9999 {
  display: flex;
  justify-content: center;
  gap: 35px;
  align-items: center;
  text-align: center;
}

.contact {
  width: 200px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: "BPG Mrgvlovani Caps", sans-serif;
}
.name22 {
  font-family: "BPG Mrgvlovani Caps", sans-serif;
  /* font-size: 20px; */
}
.contact h2 {
  padding-bottom: 20px;
  text-align: center;
}
.contact p {
  padding-bottom: 20px;
  text-align: center;
}
.rustavel {
  width: 65px;
}
.mandatur {
  width: 65px;
}

.logo {
  margin-bottom: 20px;
}
.saqartvelo {
  width: 250px;
}
.footerh2 {
  font-size: 20px;
  font-weight: bolder;
  padding-bottom: 10px;
  padding-top: 15px;
  font-family: "BPG Mrgvlovani Caps", sans-serif;
  color: #000;
}
.footerh22 {
  font-weight: bold;
  font-size: 20px;
}
.nom {
  font-size: 19px;
  font-weight: 500;
}

/* info */
.info {
  width: 80vw;
  display: flex;
  margin-top: 15rem;
  margin-bottom: 200px;
}

.info h1 {
  font-weight: 600;
}

.nameofschool {
  font-weight: 900;
  font-size: large;
}
.text {
  font-family: sans-serif;
  line-height: 35px;
  font-size: 23px;
  text-align: center;
  font-family: "bpg mrgvlovani caps";
}

.text2 {
  margin-top: 120px;
  font-family: sans-serif;
  line-height: 35px;
  font-size: 18px;
  margin-left: 2rem;
}

.info1 {
  transition: 0.2s;
  border-radius: 10px;
  width: 80vw;
  height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 26px -6px #777;
}

.info1:hover {
  transform: translatey(-15px);
}

.textdark {
  font-family: sans-serif;
  font-weight: 600;
  line-height: 25px;
  color: #fff;
}
.mintext {
  margin-left: 20px;
}
.minitext {
  margin-top: 20px;
}


.minfoot {
  background-color: #0d0c3f;
  display: flex;
  flex-direction: column;
  height: 5rem;
  align-items: center;
  width: 100%;
  
}
.dark-mode .minfoot {
  background-color: #202020;
  transition: .3s linear;
}
.minfootminfooter {
  display: flex;
  margin-top: 10px;
  width: 9rem;
  justify-content: space-between;
}
.minfoot span {
  color: #fff;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-top: 5px;
}
.minfootminfooter a {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
