body {
  font: sans-serif;
  background-color:#f4f4f3;
  
}
.dark-mode {
  background-color: black;
  color: white;
}

.dark-mode .maindi {
  background-color: #222;
}

.dark-mode .headerspan {
  color: #fff;
}
.dark-mode .dropdown-menu ul {
  background-color: #222;
}

.dark-mode .ultag li a {
  color: #fff;
}

.dark-mode .menu-bar {
  background-color: #222;
  color: #fff;
}
.dark-mode .menu-bar .ultag .dropdown-menu {
  background-color: #222;
  color: #fff;
}
.dark-mode .menu-bar .ultag .dropdown-menu-1 {
  background-color: #222;
  color: #fff;
}

.dark-mode .menu-bar .ultag .dropdown-menu ul li  .dropdown-menu-2 {
  background-color: #222;
  color: #fff;
}
.dark-mode .flex-footer-999 {
  background-color: #222;
}

.dark-mode .contact {
  color: #fff;
}

.dark-mode .name22 {
  color: #fff;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #000000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.maindi {
  display: flex;
  width: 100%;
  background-color: rgb(15, 49, 90);
  align-items: center;
  gap: 20px;
  font-family: "BPG Mrgvlovani Caps", sans-serif;   

}

.notmaindi {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.fa-moon {
  font-size: 30px;
}
.moon {
  color: #000;
}
.buttonmoon {
  border-radius: 50px;
  background-color: #454444;
  outline: none;
  border: none;
  cursor: pointer;
}



.headerlogo{
  width: 90px;
  height: 90px;
  border-radius: 50px;
  margin-left: 90px;

}
.n79 {
  font-size: 30px;
  color: rgb(255, 255, 255);
  font-family: "BPG Mrgvlovani Caps", sans-serif; 
  font-weight: bold;
  

}
.headerspan {
  font-size: 24px;
  color: rgb(255, 255, 255) ;

}

.menu-bar {
  background-color: rgb(7, 28, 52);
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 20px ;
  width: 100%;
  font-family: "BPG Mrgvlovani Caps", sans-serif; 
  position: relative;


}
  




.line {
  transition: transform 0.3s ease;
  border-radius: 10px;
  transition: all .5s ease-in-out;
}
.line::before,
.line::after {
  content: '';
  position:absolute;
  transition: all .5s ease-in-out;
}
.line::before {
  transform: translateY(-16px);
}
.line::after {
  transform: translateY(16px);
}
/* ANIMATION */
.burger.open .line {
  transform: translateY(1px);
}
.burger.open #line1 {
 transform: translateY(1px) rotate(-45deg);
}
.burger.open #line2 {
  transform: translateY(-5px) rotate(45deg);
}
.burger.open #line3 {
  display: none;
}




/* ANIMATION-END */
.burger {
  display: none;
  cursor: pointer;
  transition: all .5s ease-in-out;
  width: 200px;
  position: absolute;
  left: 85%;
  

}

.burger div {
  width: 25px;
  height: 4px;
  background-color: #ffffff;
  margin: 2px;
}




.ultag {
  display: flex;
  align-items: center; 
  margin-left: 80px;
  
}

.u1 {
  display: flex;
  flex-direction: column;
  line-height: 27px;
}
.dropdown-menu2 {
  display: none;
  z-index: 100;
}
.fas {
  float:right;
  margin-left: 10px;
}
.fa-caret-right {
  margin-top: 4px;
  font-size: 16px;
  margin-right: 10px;
}

.ultag.active {
  display: grid;
  position: absolute;
  width:80%;
  top: 49px;
  height: 250px;
  /* left: 40%; */
  text-align: center;
  /* z-index: -1; */
  transition: .6s;
  gap: 20px;
  background-color:  rgb(7, 28, 52);
}


.dropdown-menu-1 {
  display: none;
}
.dropdown-menu-2 {
  display: none;
}
.dropdown-menu-3 {
  display: none;
}
.dropdown-menu ul li:hover .dropdown-menu-3 {
  display: block;
  position: absolute;
  top: 0;
  left: 80px;
  background-color: rgb(7, 28, 52);
  width: 90%;
  z-index: 999;
}
.dropdown-menu ul li:hover .dropdown-menu-2{
  display: block;
  position: absolute;
  top: 0;
  left: 80px;
  background-color: rgb(7, 28, 52);
  width: 90%;
  z-index: 999;
}

 ul li:hover .dropdown-menu-1 {
  /* display: block;
  position: absolute;
  left: 25px;
  height: 200px; */
  background-color: rgb(7, 28, 52);
  /* left: ; */
  position: absolute;
  top: 100%;
  display: block;
  width: 250px; 
  height: 190px;
  padding-top: 10px;
  margin-top: 5px;

  z-index: 999;
}
ul li:hover .dropdown-menu-1dark {
  /* display: block;
  position: absolute;
  left: 25px;
  height: 200px; */
  background-color:rgb(12, 12, 12) ; 
  position: absolute;
  top: 100%;
  display: block;
  width: 250px; 
  height: 190px;
  padding-top: 10px;
  margin-top: 5px;

  z-index: 99;
}
.dropdown-menu-1dark {
  display: none;
  z-index: 99;
}
.dropdown-menudark ul li:hover .dropdown-menu-2dark {
  background-color:rgb(12, 12, 12) ; 
  display: block;
  position: absolute;
  top: 0;
  left: 80px;
  width: 90%;
  z-index: 999;

}
.dropdown-menu-2dark {
  display: none;
  z-index: 100;
}


.dropdown-menu ul li a {
  padding-top: 5px;


}
.menu-bar ul li {
  position: relative;
  padding-left: 20px;
}
.menu-bar ul li a {
  color: white;
  padding: 5px;
  align-items: center;

}

.menu-bar ul li:hover .dropdown-menu {
  background-color: rgb(7, 28, 52);
  left: 0;
  position: absolute;
  top: 100%;
  display: block;
  width: 200px; 
  margin-top: 5px;
  /* text-align: center; */

}
ul li:hover .dropdown-menudark {
  background-color:rgb(12, 12, 12); 
  position: absolute;
  top: 100%;
  display: block;
  width: 200px; 
  padding-top: 10px;
  margin-top: 5px;
  left: 0;
  height: 170px;
  line-height: 30px;
}
.dropdown-menudark {
  display: none;
  z-index: 99;
}


.dropdown-menu ul li {
  margin-bottom: 10px;
}
.dropdown-menu ul li:hover {
  background-color: rgb(110, 110, 110);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.dropdown-menu-1 ul li:hover {
  background-color: rgb(110, 110, 110);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.dropdown-menudark ul li:hover {
  background-color: rgb(110, 110, 110);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.dropdown-menu-1dark ul li:hover {
  background-color: rgb(110, 110, 110);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}




.menu-bar ul li a :last-child {
  padding: 0;
}
.dropdown-menu {
  display: none;
  z-index: 99;
}
.fontsize {
  font-size: 0.74rem !important;
  font-weight: bold;
  width: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
/* Slider */

.swiper {
  /* width: 100%; */
  height: fit-content;
  /* z-index: 2; */
}
.swiper-slide img {
  width: 100%;
  height: 500px;
  cursor:move;
}
.swiper-slide {
  position: relative;
  text-align: center;
 
}
.prev {
  background-color: #0b0334;
  border-radius: 4px;
}
.next {
  background-color:  #0b0334;
  border-radius: 4px;
}

.divofdiv79 {
  position: absolute;
  z-index: 505;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: all-scroll;
  
}
.div79 {
  justify-content: center;
  align-items: center;
  font-size: 66px;
  font-family: "BPG Mrgvlovani Caps", sans-serif;   
  font-weight: bold;
  text-shadow: 2px  1px 4px #fff;
  font-style: italic;
  color: rgb(7, 3, 26) ;



}
.span79e {
  color: rgb(15, 49, 90);
  text-shadow: none;
  text-shadow: 2px 0.5px 4px #ffffff;
}
.paginations {
  display: flex;
  justify-content: center;
  align-items: center;
}


.container {
  height: 500px;
  margin-top: 140px;
  margin-bottom: 20px;
}


/* miniinfo */
.info {
  width: 600px;
  display: flex;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;

}
.nameofschool {
  font-weight: 900;
  font-size: large;
}
.spanss {
  text-decoration: dotted;
}
.spanss span {
  margin-left: 20px;
}
.divofspanss {
  display: flex;
  flex-direction:column;
  margin-top: 50px;
}
.text {
  font-family: sans-serif;
  font-weight: 600;
  line-height: 25px; 
}
.textdark {
  font-family: sans-serif;
  font-weight: 600;
  line-height: 25px;
  color: #fff;
}
.mintext{
  margin-left: 20px;
}
.minitext {
  margin-top: 20px;
}

/* footer */

.logo {
  width: 80px;
  border-radius: 50px;
}

.firstdivof-footer {
  text-align: center;
}

.firstdivof-footer p {
  font-size: 22px;
  color: #ffffff;
}

.flex-footer-999 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color:rgb(15, 49, 90);
  width: 100%;


}
.flex-footer-999dark {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color:rgb(12, 12, 12);
  width: 100%;

}

.block-999 {
  display: flex;
  flex-direction: column;
  /* justify-self: center; */
  align-items: center;
  /* text-align: center; */
}

.logo-links-999 {
  display: flex;
  gap: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  text-align: center;
  align-items: center;
  
}


.logo-links-9999 {
  display: flex;
  justify-content: center;
  gap: 35px;
  align-items: center;
  text-align: center;
}

.contact {
  width: 200px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: "BPG Mrgvlovani Caps", sans-serif;     
 
}
.name22 {
  font-family: "BPG Mrgvlovani Caps", sans-serif;   
  /* font-size: 20px; */
}
.contact h2 {
  padding-bottom: 20px;
  text-align: center;
}
.contact p {
  padding-bottom: 20px;
  text-align: center;
}
.rustavel {
  width: 65px;
}
.mandatur {
  width: 65px;
}

.logo {
  margin-bottom: 20px;
}
.saqartvelo {
  width: 250px;
}
.footerh2 {
  font-size: 20px;
  font-weight: bolder;
  padding-bottom: 10px;
  padding-top: 15px;
  font-family: "BPG Mrgvlovani Caps", sans-serif;   
 color: #000;
}
.footerh22 {
  font-weight: bold;
  font-size: 20px;
}
.nom {
  font-size: 19px;
  font-weight: 500;
}







